[user]
	email = me@seankegel.com
	name = Sean Kegel
	signingKey = ""
[push]
	default = current
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[diff]
	tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[core]
	excludesfile = /Users/seankegel/.globalgitignore
