" **************************
" Vim Settings for IDEA IDEs
" **************************
"
" Set leader
let mapleader = ","

"*** Vim Plugins ***
set surround
set NERDTree
set commentary
set easymotion
set multiple-cursors

" Toggle Relative Number
nnoremap <silent> <leader>nb :set relativenumber!<CR>
set number

" Make j and k move to the next row, not file line
nnoremap j gj
nnoremap k gk

" Home & End should be placed next to each other
nnoremap - $

" Move to beginning/end of line
nnoremap B ^
nnoremap E $

" Select all text
nnoremap vA ggVG

" Yank to end of line
nnoremap Y y$

"Delete to the end of line
nnoremap D d$

" Enable Highlight Search
set hlsearch

" Highlight while search
set incsearch

" Case Insensitivity Pattern Matching
set ignorecase

" Overrides ignorecase if pattern contains upcase
set smartcase

" Keep search results at the center of screen
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz

" Press <leader> Enter to remove search highlights
noremap <silent> <leader><cr> :noh<cr>

" Map jk to ESC in insert mode
inoremap jk <esc>
inoremap kj <esc>

" Shift to the next round tab stop.
set shiftround
" Set auto indent spacing.
set shiftwidth=4

" Switch between tabs
nnoremap <Leader>1 1gt
nnoremap <Leader>2 2gt
nnoremap <Leader>3 3gt
nnoremap <Leader>4 4gt
nnoremap <Leader>5 5gt
nnoremap <Leader>6 6gt
nnoremap <Leader>7 7gt
nnoremap <Leader>8 8gt
nnoremap <Leader>9 9gt

" Window mappings
map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-l> <C-W>l

" Easily create a new tab.
noremap <Leader>tN :tabnew<CR>

" Easily close a tab.
noremap <Leader>tc :tabclose<CR>

" Easily move a tab.
noremap <Leader>tm :tabmove<CR>

" Easily go to next tab.
noremap <Leader>tn :tabnext<CR>

" Easily go to previous tab.
noremap <Leader>tp :tabprevious<CR>

" Quickly source .vimrc
nnoremap <leader>r :source $MYVIMRC<CR>

" Quickly open .vimrc in new tab
nnoremap <leader>v :tabedit ~/.vimrc<CR>

" Quickly quit editting without save
nnoremap <leader>q :q!<CR>
set ideajoin

nnoremap <leader>e :NERDTree<CR>
nnoremap <leader>p :action GotoFile<CR>
nnoremap <leader>r :action RefactoringMenu<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap - :action ShowNavBar<CR>
